<div class="footer">
    <div class="overlay"></div>
    <div class="footer-content">
       <div class="container">
           <div class="row">
               <div class="col-md-4 footer-content">
                   <img class="img-fluid" src="/assets/images/logo1.png" alt="">
                   <p>
                    This website helps its visitors to get all the information they need about this medical center, the services it provides, the care it gives, and to book their appointments easily and in a short time, moreover it provides to registered nurses suitable positions with nice salary. Have the easiest greatest experience with our website while taking care of your health.</p>
               </div>
               <div class="col-md-4">
                   <h4>Useful Links</h4>
                   <div class="usefullinks">
                        <ul class="list-group">
                            <li><a href="">Home</a></li>
                            <li><a href=""> Services</a></li>
                            <li><a href=""> About us</a></li>
                            <li><a href="">Anything</a></li>
                        </ul> 
                   </div>
                   
               </div>
               <div class="col-md-4">
                   <h4>Follow us</h4>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente libero ex eveniet reprehenderit tempora, nemo suscipit asperiores odio. Maxime, aliquam! Veniam alias rem qui magnam laboriosam delectus ipsum, sint totam.</p>
                   <a href=""><i class="fab fa-facebook"></i></a>
                   <a href=""><i class="fab fa-instagram"></i></a>
                   <a href=""><i></i></a> 
                </div>
           </div>
       </div>
    </div>
</div>