a ,h4 {
    color: white;
}
.footer{
    background-color: #5B749C;
    padding: 70px;
    position: relative;
}
.footer-content img{
    width: 145px;
}
.footer-content span{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.img-fluid{
    margin-left: -13px;
}
h4{
    padding-top: 20px;
}
h4::before{
    content: "|";
    color: white;
    font-weight: 700;
}
.usefullinks ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.usefullinks ul li{
    border-bottom: 1px solid white;  
    line-height: 40px;
}
.usefullinks ul li a{
    text-decoration: none;
    color: white
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0.05;
    /* background-image: url('/assets/images/backgroundfooter.jpg'); */
}
p{
    color: white;
    font-weight: 400;
}