<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Candidates</h3>
        </div>
        <!-- <div class="col-auto">
            <a href="add-customer.html" class="btn btn-primary me-1">
                <i class="fas fa-plus"></i>
            </a>
            <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                <i class="fas fa-filter"></i>
            </a>
        </div> -->
    </div>
</div>

<div class="container">


    <div class="row">
        <div class="col-lg-6">
            <div class="candidates-listing-item">
                <div class="list-grid-item mt-4 p-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="candidates-img float-left mr-4 col-md-2">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""
                                        class="img-fluid d-block rounded">
                                </div>
                                <div class="candidates-list-desc job-single-meta  pt-2 col-md-6">
                                    <h5 class="mb-2 f-19"><a href="#" class="text-dark">Mary Mainor</a></h5>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item mr-4">
                                            <p class="text-muted f-15 mb-0"><i class="fa fa-user"></i>  Developer</p>
                                               
                                        </li>
                                        <br>

                                        <li class="list-inline-item mr-4">
                                            <p class="f-15 mb-0"><a href="" class="text-muted"><i
                                                        class="fas fa-map-marker-alt"></i> Scenic Way Atlanta.</a></p>
                                        </li>
                                        <br>

                                        <li class="list-inline-item">
                                            <p class="text-muted f-15 mb-0"><i
                                                    class="fas fa-envelope"></i> email@something.com</p>
                                        </li>
                                        <br>
                                        <li class="list-inline-item">
                                            <p class="text-muted f-15 mb-0"><i
                                                    class="fas fa-mobile"></i>  70100200</p>
                                        </li>
                                    </ul>
                                   
                                </div>
                                <div class="col-md-3">
                                    <div class="candidates-list-fav-btn text-right">

                                        <div class="candidates-listing-btn mt-4">
                                            <a href="#" class="btn btn-primary">Accept</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-11 ">
                                    <div class="candidates-item-desc">
                                        <hr>
                                        <p class="text-muted mb-2 f-14">Aenean leo ligula porttitor eu consequat
                                            eleifend ac
                                            enim. Aliquam lorem ante, dapibus in viverra quis feugiat a tellus Phasellus
                                            viverra
                                            nulla ut metus varius laoreet Quisque rutrum Maecenas tempus tellus eget
                                            condimentum
                                            pulvinar hendrerit id.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="candidates-listing-item">
                <div class="list-grid-item mt-4 p-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="candidates-img float-left mr-4 col-md-2">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""
                                        class="img-fluid d-block rounded">
                                </div>
                                <div class="candidates-list-desc job-single-meta  pt-2 col-md-6">
                                    <h5 class="mb-2 f-19"><a href="#" class="text-dark">Mary Mainor</a></h5>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item mr-4">
                                            <p class="text-muted f-15 mb-0"><i class="fa fa-user"></i>  Developer</p>
                                               
                                        </li>
                                        <br>

                                        <li class="list-inline-item mr-4">
                                            <p class="f-15 mb-0"><a href="" class="text-muted"><i
                                                        class="fas fa-map-marker-alt"></i> Scenic Way Atlanta.</a></p>
                                        </li>
                                        <br>

                                        <li class="list-inline-item">
                                            <p class="text-muted f-15 mb-0"><i
                                                    class="fas fa-envelope"></i> email@something.com</p>
                                        </li>
                                        <br>
                                        <li class="list-inline-item">
                                            <p class="text-muted f-15 mb-0"><i
                                                    class="fas fa-mobile"></i>  70100200</p>
                                        </li>
                                    </ul>
                                   
                                </div>
                                <div class="col-md-3">
                                    <div class="candidates-list-fav-btn text-right">

                                        <div class="candidates-listing-btn mt-4">
                                            <a href="#" class="btn btn-primary">Accept</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-11 ">
                                    <div class="candidates-item-desc">
                                        <hr>
                                        <p class="text-muted mb-2 f-14">Aenean leo ligula porttitor eu consequat
                                            eleifend ac
                                            enim. Aliquam lorem ante, dapibus in viverra quis feugiat a tellus Phasellus
                                            viverra
                                            nulla ut metus varius laoreet Quisque rutrum Maecenas tempus tellus eget
                                            condimentum
                                            pulvinar hendrerit id.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>