<div class="page-header" >
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Chats</h3>
        </div>

    </div>
</div>
<div class="row" style="overflow: hidden !important;">
    <div class="col-sm-12">
        <div class="chat-window">
            <div class="chat-cont-left">
                <div class="chat-header">
                    <span>Chats</span>         
                </div>
                <div class="chat-users-list">
                    <div class="chat-scroll">
                        <div *ngFor = "let user of allUserExcepetOne">
                          <a [routerLink]="['messages',user.id,user.first_name,user.last_name]" class="media d-flex" >
                            <div class="media-img-wrap">
                                <div class="avatar ">
                                    <img src="../../assets/images/avatar.svg" alt="User Image"
                                        class="avatar-img rounded-circle">
                                </div>
                            </div>
                            <div class="media-body">
                                <div>
                                    <div class="user-name">{{user.first_name}} {{user.last_name}}</div>
                                </div>
                                <div>
                                    <div class="last-chat-time block">7:30 PM</div>       
                                </div>
                            </div>
                        </a>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-cont-right">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>