<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Consultations</h3>
        </div>
        <!-- <div class="col-auto">
            <a href="add-customer.html" class="btn btn-primary me-1">
                <i class="fas fa-plus"></i>
            </a>
            <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                <i class="fas fa-filter"></i>
            </a>
        </div> -->
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 d-flex">
        <div class="card flex-fill bg-white">
            <img alt="Card Image" src="assets/img/img-01.jpg" class="card-img-top">
            <div class="card-header">
                <h5 class="card-title mb-0">Card with image and list</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</div>