<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Appointments</h3>
        </div>
        <!-- <div class="col-auto">
            <a href="add-customer.html" class="btn btn-primary me-1">
                <i class="fas fa-plus"></i>
            </a>
            <a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
                <i class="fas fa-filter"></i>
            </a>
        </div> -->
    </div>
</div>




<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-center table-hover datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>Patient</th>
                                <th>Address</th>
                                <th>Phone Number</th>
                                <th>Time</th>
                                <th>Date</th>
                                <th>Section</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let appointment of allAppointments; let i=index ">
                                <td>
                                    <h2 class="table-avatar">
                                        <a class="avatar avatar-sm me-2"><img
                                                class="avatar-img rounded-circle"
                                                src="../../assets/images/avatar.svg"
                                                alt="User Image"></a>
                                        <a>{{appointment.first_name}} {{appointment.last_name}}</a>
                                    </h2>
                                </td>
                                <td>
                                    {{appointment.address}}
                                </td>
                                <td>{{appointment.phone_number}}</td>
                                <td>{{appointment.start_hour}} til {{appointment.end_hour}}</td>
                                <td>{{appointment.date_of_appointment}}</td>
                                <td>{{appointment.section.name}}</td>
                                <td >
                                    <button class="btn btn-primary" (click) = "approveAppointment(appointment.id,i)"  >Approve </button>
                                    
                                    <button class="btn btn-danger" (click) ="declineAppointment(appointment.id,i)" >Decline</button>
                                </td>
                            </tr>
                            
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>