<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Nurses</h3>

        </div>
        <div class="col-auto">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo">
                <i class="fas fa-plus"></i> Add Nurse
            </button>

        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new nurse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addNurseForm" (ngSubmit)="addNurse()">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">First Name</label>
                        <input type="text" class="form-control" id="recipient-name1" formControlName="first_name">
                        <span *ngIf="!addNurseForm.get('first_name').valid && addNurseForm.get('first_name').touched" class="help-block">Please enter your firstname</span>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Last Name</label>
                        <input type="text" class="form-control" id="recipient-name2" formControlName="last_name">
                        <span *ngIf="!addNurseForm.get('last_name').valid && addNurseForm.get('last_name').touched" class="help-block">Please enter your lastname</span>

                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Email</label>
                        <input type="email" class="form-control" id="recipient-name3" formControlName="email">
                        <span *ngIf="!addNurseForm.get('email').valid && addNurseForm.get('email').touched" class="help-block">Please enter your email</span>

                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Password</label>
                        <input type="password" class="form-control" id="recipient-name4" formControlName="password">
                        <span *ngIf="!addNurseForm.get('password').valid && addNurseForm.get('password').touched" class="help-block">Please enter your password</span>

                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Address</label>
                        <input type="text" class="form-control" id="recipient-name5" formControlName="address">
                        <span *ngIf="!addNurseForm.get('address').valid && addNurseForm.get('address').touched" class="help-block">Please enter your address</span>

                    </div>
                    <div class="mb-3">
                        <label for="recipient-name6" class="col-form-label">Major</label>
                        <select class="form-select" formControlName = "major_id"  >
                            <option id="recipient-name6" *ngFor =" let major of lastTwoMajors" value={{major.id}}>{{major.name}}</option>                           
                        </select>
                    </div>
                    <div class="mb-3" style="display: none;">
                        <label for="recipient-name" class="col-form-label">Role</label>
                        <input type="text" class="form-control" id="recipient-name7" formControlName="role" >
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-stripped table-hover datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>Major</th>
                                <th>Nurse</th>
                                <th>Email Address</th>
                                <th>Employment Date</th>
                                <th>Address</th>
                                <!-- <th>Status</th> -->
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let nurse of allNurses">
                                <td>{{nurse.major.name}}</td>
                                <td>
                                    <h2 class="table-avatar">
                                        <img class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                            src="../../assets/images/avatar.svg" alt="User Image"> {{nurse.first_name}} {{nurse.last_name}}
                                    </h2>
                                </td>
                                <td>{{nurse.email}}</td>
                                <td>{{nurse.date_of_employment}}</td>
                                <td>{{nurse.address}}</td>
                                
                                <td class="text-end">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                          
                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                    class="far fa-trash-alt me-2"></i>Delete</a>
                                            
                                            <a class="dropdown-item" href="javascript:void(0);"><i
                                                    class="far fa-paper-plane me-2"></i>Ping Doctor</a>
                                               
                                           
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>